<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>To Do List</span>

    <span class="example-fill-remaining-space"></span>

    <span class="align-center"></span>

    <span class="example-spacer"></span>

    <button mat-button *ngIf="isLoggedIn" routerLink="/">Dashboard</button>
    <button mat-button *ngIf="isLoggedIn" routerLink="/todo">Todo</button>
    <button mat-button *ngIf="isLoggedIn" routerLink="/logout">Logout</button>
    <button mat-button *ngIf="!isLoggedIn" routerLink="/login">Login</button>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>

<mat-toolbar class="footer" color="primary">
  <span>(C) Fadzar Wahyu Santoso</span>
</mat-toolbar>
