.example-card {
  width: 90%;
  margin: 10% auto;
}
.mat-card-title {
  font-size: 16px;
}

.example-card{
  text-align: center;
}

.center{
  display: inline-block;
}

.mat-sort-header-container {
  align-items: center;
}
table {
  width: 90%;
  margin: 10% auto;

}
